@charset "utf-8";
/* CSS Document */
/********************************按钮1***********************************/
.btn1{
    padding-left:15px;
	padding-right:15px;
	height:34px;
	cursor:hand;
	float:left;
	background-image: url(cssimages/btn1_bg_out.jpg);
	background-repeat: repeat-x;
	font-family: "宋体";
	font-size: 12px;
	color:#333333;
	text-align: center;
	line-height:34px;
	border:0px;
	border-bottom:solid 1px #EFF6FF;
	border-right:solid 1px  #DCE0E9;
}
.btn1_hover{
	padding-left:15px;
	padding-right:15px;
	height:34px;
	cursor:hand;
	float:left;
	background-image: url(cssimages/btn1_bg_hover.jpg);
	background-repeat: repeat-x;
	font-family: "宋体";
	font-size: 12px;
	color:#333333;
	text-align: center;
	line-height:34px;
	border:0px;
	border-bottom:solid 1px #DCE0E9;
	border-right:solid 1px  #DCE0E9;
}

/*树的操作--------------------------------------------------------*/
.btn_up{
	width:41px;
	height:41px;
	background-image:url(cssimages/btn_up_Out.jpg);
	float:left;
	margin-right:3px;
	border:0px;
	margin-top:2px;
}
.btn_up_hover{
	width:41px;
	height:41px;
	background-image:url(cssimages/btn_up_Hover.jpg);
	float:left;
	margin-right:3px;
	border:0px;
	margin-top:2px;
}
.btn_down{
	width:41px;
	height:41px;
	background-image:url(cssimages/btn_down_Out.jpg);
	float:left;
	margin-right:3px;
	border:0px;
	margin-top:2px;
}
.btn_down_hover{
	width:41px;
	height:41px;
	background-image:url(cssimages/btn_down_Hover.jpg);
	float:left;
	margin-right:3px;
	border:0px;
	margin-top:2px;
}
.btn_left{
	width:41px;
	height:41px;
	background-image:url(cssimages/btn_left_Out.jpg);
	float:left;
	margin-right:3px;
	border:0px;
	margin-top:2px;
}
.btn_left_hover{
	width:41px;
	height:41px;
	background-image:url(cssimages/btn_left_Hover.jpg);
	float:left;
	margin-right:3px;
	border:0px;
	margin-top:2px;
}
.btn_right{
	width:41px;
	height:41px;
	background-image:url(cssimages/btn_right_Out.jpg);
	float:left;
	border:0px;
	margin-top:2px;
}
.btn_right_hover{
	width:41px;
	height:41px;
	background-image:url(cssimages/btn_right_Hover.jpg);
	float:left;
	border:0px;
	margin-top:2px;
}

.btn_hide{
	width:41px;
	height:41px;
	background-image:url(cssimages/btn_hide_Out.jpg);
	float:left;
	margin-left:30px;
	border:0px;
	margin-top:2px;
}

.btn_hide_hover{
	width:41px;
	height:41px;
	background-image:url(cssimages/btn_hide_Hover.jpg);
	float:left;
	margin-left:30px;
	border:0px;
	margin-top:2px;
}

/*切换要素--------------------------------------------------------*/
.btn_show{
    width:58px;
	height:52px;
	background-image:url(cssimages/btn_show.jpg);
	border:none;
}
.btn_show_hover{
    width:58px;
	height:52px;
	background-image:url(cssimages/btn_show.jpg);
	border:none;
}

.btn_prev{
	width:58px;
	height:61px;
	margin-top:63px;
	background-image:url(cssimages/btn_prev.jpg);
	border:none;
}
.btn_prev_hover{
    width:58px;
	height:61px;
	margin-top:63px;
	background-image:url(cssimages/btn_prev_hover.jpg);
	border:none;
}

.btn_next{
    width:58px;
	height:61px;
	background-image:url(cssimages/btn_next.jpg);
	border:none;
}
.btn_next_hover{
    width:58px;
	height:61px;
	background-image:url(cssimages/btn_next_hover.jpg);
	border:none;
}